spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DEV_DB_HOSTNAME:localhost}:${DEV_DB_PORT:3306}/reading_tracker_dev
    username: ${DEV_DB_USERNAME:root}
    password: ${DEV_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
      ssl:
        enabled: false

logging:
  level:
    io.reading_tracker: DEBUG
    org.springframework.data.redis: DEBUG
